/* NavbarItem.module.css */

.navbarItem {
  /* Define your initial background color here */

  position: relative;
  overflow: hidden;
}

.navbarItem::before {
  /* Define your hover background color here */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: blue;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: -1; /* Place the pseudo-element behind the text */
}

.navbarItem:hover::before {
  transform: translateX(0);
}
