/* NavbarItem.module.css */
@keyframes gradient {
    0% { background-position: -100%; }
    100% { background-position: 100%; }
  }
  
  .navbarItem {
    /* Define your gradient here */
    background: linear-gradient(
        to right,
        pink 0%,
        pink 50%,
        paleturquoise 50%,
        paleturquoise 100%
    );
    background-size: 200%;
    background-position: -100%;
    transition: background-position 1s;
  }
  
  .navbarItem:hover {
    background-position: 100%;
  }
  